/* Fond sombre */
.stApp {
    background-color: black;
}

/* Boutons */
.stButton>button {
    background-color: darkred;
    color: white;
    border-radius: 10px;
}

.stButton>button:hover {
    background-color: red;
    color: black;
}

/* Titres */
h1 {
    color: red;
    text-align: center;
    text-shadow: 0 0 20px red;
}